# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
bower_components

# sass cache
.sass-cache

# .DS_Store
.DS_Store

# files
.filePending

# htaccess
.htaccess
