$background-general: #c4c4c4;
$redes-sociales: #535353;
$orange: #ec4a0d;
$gray-social: #a4a4a4;
$gray-bg-main: #eaeaea;
$gray-text: #bebebe;


$mobile-full-width: 630px;
$tablet-width: 768px;
$mobile-sm: 480px;
$desktop-width: 1480px;

$desktop-normal: 1024px;
